body {
  background-color: $body_color;
}

.list-shb-features {
  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

#logo {
  margin-top: 20px;
  margin-bottom: 40px;
}

footer {
  margin-top: 40px;
  color: darken($body_color, 30%);
}