<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-header">
          <h1>Sinatra <small>Boilerplate</small></h1>
        </div>
        
        <p class="lead">A boilerplate sinatra application skeleton for quick deployment to Heroku.</p>
        <div class="row">
          <div class="col-12 col-lg-2 hidden-sm">
            <img id="logo" src="<%= @s3_prefix %>/images/sbh-logo.png" alt="Logo" />
          </div>
          <div class="col-12 col-lg-6">
            <ul class="list-unstyled list-shb-features">
              <li>Bootstrap 3 RC1 <i class="glyphicon glyphicon-heart-empty"></i></li>
              <li>Glyphicons V1.0.0 <i class="glyphicon glyphicon-ok"></i></li>
              <li>Font Awesome V3.2.1 <i class="icon-flag"></i></li>
              <li>Retina.js</li>
              <li>Sass / Scss</li>
              <li>Bourbon.io</li>
              <li>Unicorn</li>
              <li>Amazon S3 Easy Integration</li>
              <li>Heroku Deployment</li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>