<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-header">
        <h1>Sinatra <small>Boilerplate</small></h1>
      </div>
      <ul class="list-unstyled list-shb-features">
        <li><i class="glyphicon glyphicon-ok"></i> Bootstrap 3 RC1</li>
        <li><i class="glyphicon glyphicon-ok"></i> Glyphicons V1.0.0</li>
        <li><i class="glyphicon glyphicon-ok"></i> Font Awesome V3.2.1 <i class="icon-flag"></i></li>
      </ul>
    </div>
  </div>
</div>
