<% content_for :extra_css do %>
<!-- add extra css! -->
<% end %>

<div class="container block">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
              <h1>#{@title}</h1>
            </div>
            <p class="lead">
            </p>
            <div class="row">
            </div>
        </div>
    </div>
</div>

