<% content_for :extra_css do %>
<!-- add extra css! -->
<% end %>

<div class="container block">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Sinatra <small>Boilerplate</small></h1>
            </div>
            <p class="lead">
                A boilerplate sinatra application skeleton for quick deployment to <a href="http://heroku.com">Heroku</a>.
                All you need is clone repo and push it to <a href="http://heroku.com">Heroku</a>. Super simple!
            </p>
            <div class="row">
                <div class="col-xs-12">
                    <img id="logo" class="img-responsive hidden-xs" src="<%= @s3_prefix %>/images/sbh-logo.png" alt="Logo" />
                    <ul class="list-unstyled list-shb-features">
                        <li>Bootstrap 3.0 <i class="glyphicon glyphicon-heart-empty"></i></li>
                        <li>Glyphicons V1.0.0 <i class="glyphicon glyphicon-ok"></i></li>
                        <li>Font Awesome V3.2.1 <i class="icon-flag"></i></li>
                        <li>Retina.js</li>
                        <li>Sass / Scss</li>
                        <li>Bourbon.io</li>
                        <li>Unicorn</li>
                        <li>Amazon S3 Easy Integration</li>
                        <li>Heroku Deployment</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <%= partial("footer") %>
                </div>
            </div>
        </div>
    </div>
</div>

